<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пароль | FloWe</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/app.js}" defer></script>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main class="page">
    <h1>Создание нового пароля</h1>

    <p class="alert error" th:if="${error}" th:text="${error}"></p>

    <form class="form" th:action="@{/reset-password}" method="post" novalidate>
        <input type="hidden" name="token" th:value="${token}">

        <div class="form-row">
            <label for="password">Новый пароль</label>
            <input id="password" type="password" name="password">

            <p class="hint">
                Пароль должен содержать латинские буквы и цифры, минимум 6 символов.
            </p>
        </div>

        <button class="btn primary" type="submit">Сохранить новый пароль</button>
    </form>
</main>

</body>
</html>