<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<header th:fragment="header">
    <nav>
        <a href="/">Главная</a>
        |

        <a href="/profile" sec:authorize="isAuthenticated()">Профиль</a>
        <span sec:authorize="isAuthenticated()"> | </span>

        <a href="/admin" sec:authorize="hasRole('ADMIN')">Админ</a>
        <span sec:authorize="hasRole('ADMIN')"> | </span>

        <a href="/seller" sec:authorize="hasRole('SELLER')">Продавец</a>
        <span sec:authorize="hasRole('SELLER')"> | </span>

        <a href="/login" sec:authorize="!isAuthenticated()">Вход</a>
        <span sec:authorize="!isAuthenticated()"> | </span>

        <a href="/register" sec:authorize="!isAuthenticated()">Регистрация</a>

        <form th:action="@{/logout}" method="post" style="display: inline;"
              sec:authorize="isAuthenticated()">
            <button type="submit">Выйти</button>
        </form>
    </nav>

    <hr>
</header>

</body>
</html>